<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/parking</property>
        <property name="hibernate.connection.username">gyuapstha</property>
        <property name="hibernate.connection.password">xdcVy2Ue</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.PostgresPlusDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="dev.yashgupta.parkit.entity.Building"/>
        <mapping class="dev.yashgupta.parkit.entity.Floor"/>
        <mapping class="dev.yashgupta.parkit.entity.Space"/>
        <mapping class="dev.yashgupta.parkit.entity.Ticket"/>
    </session-factory>
</hibernate-configuration>